.content {
  background-image: url("../img/static-background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (min-width: 801px) {
  .container.about {
    max-width: 800px;
    padding-top: 500px;
  }
}

div.colors {
  background-color:#eeeeee;
  padding:5px 50px;
}
div.colors > hr {
  width: 100%;
}

.programming {
  background-color: #3B8C88;
  color: white;
}
.programming > h4, .programming > ul > li {
  line-height: 20px;
  margin-left: 25px;
}

.title {
  color:#FFFFFF;
  margin-left: 50px;
  height: 40px;
  vertical-align: middle;
}

.body-text {
  margin: auto;
}

#screenshot1 {
  margin-right: 10px;
  margin-bottom: 10px;
}

#screenshot2 {
  margin-left: 10px;
  margin-bottom: 10px;
}

.resume-link {
  color: #FFFFFF;
  text-align:center;
}
