#portrait {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
}

.introduction > h1 {
  text-align: center;
}
